@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #74c69d;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 60%;
}
.container .nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.container .nav h1 {
  color: #f8f9fa;
}
.container .nav .search_box {
  width: 0%;
  position: relative;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.container .nav .search_box .fa-solid {
  font-size: 1.5rem;
  color: #f8f9fa;
}
.container .nav .search_box .input_pokemon {
  width: 100%;
  opacity: 0;
  outline: none;
  font-size: 1.3rem;
  background-color: transparent;
  color: #f8f9fa;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3rem;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  backdrop-filter: blur(5px);
  display: grid;
  place-content: center;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.container .nav .search_box .input_pokemon::placeholder {
  color: #f8f9fa;
}
.container .nav .search_box .btn {
  background-color: transparent;
  cursor: pointer;
}
.container .nav .search_box .search_btn {
  position: absolute;
  right: 0%;
  top: 0%;
  height: 3.5rem;
  width: 3.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3rem;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  backdrop-filter: blur(5px);
  display: grid;
  place-content: center;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.container .nav .search_box.active {
  width: 50%;
}
.container .nav .search_box.active .input_pokemon.active {
  opacity: 1;
}
.container .main {
  display: flex;
  justify-content: end;
  position: relative;
}
.container .main .pokemon_id {
  font-size: 20rem;
  text-align: center;
  color: #e5e5e5;
  opacity: 0.5;
  font-weight: 700;
  user-select: none;
}
.container .main .about {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}
.container .main .about .pokemon_informations {
  width: 15rem;
}
.container .main .about .pokemon_informations .pokemon_name {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #f8f9fa;
  font-weight: 700;
}
.container .main .about .pokemon_informations .pokemon_skills {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
  font-weight: 700;
  color: #f8f9fa;
}
.container .main .about .pokemon_informations .pokemon_skills p {
  margin-top: 1rem;
  font-weight: 400;
}
.container .main .about .pokemon_image {
  user-select: none;
  width: 24rem;
  height: auto;
}
.container .main .pokemon_description {
  text-align: center;
  color: #f8f9fa;
}
.container .main .pokemon_description p {
  font-size: 1rem;
}
.container .main .pokemon_description .pokemon_health {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container .main .pokemon_description .pokemon_health .hp_bar {
  transform: rotate(180deg);
  width: 12rem;
  height: 1rem;
  background: white;
  border-radius: 1rem;
  box-shadow: inset 4px 2px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
}
.container .main .pokemon_description .pokemon_health .hp_bar .hp {
  width: 90%;
  background-color: #bd1f36;
  height: 100%;
  border-radius: 1rem;
  box-shadow: inset 0px -1px 0px #e01e37;
}
.container .main .pokemon_description .pokemon_attack {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container .main .pokemon_description .pokemon_attack .attack_bar {
  transform: rotate(180deg);
  width: 12rem;
  height: 1rem;
  background: white;
  border-radius: 1rem;
  box-shadow: inset 4px 2px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
}
.container .main .pokemon_description .pokemon_attack .attack_bar .attack {
  width: 90%;
  background-color: #faa307;
  height: 100%;
  border-radius: 1rem;
  box-shadow: inset 0px -1px 0px #ffba08;
}
.container .main .pokemon_description .pokemon_defense {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container .main .pokemon_description .pokemon_defense .denfese_bar {
  transform: rotate(180deg);
  width: 12rem;
  height: 1rem;
  background: white;
  border-radius: 1rem;
  box-shadow: inset 4px 2px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
}
.container .main .pokemon_description .pokemon_defense .denfese_bar .denfese {
  width: 90%;
  background-color: #0077b6;
  height: 100%;
  border-radius: 1rem;
  box-shadow: inset 0px -1px 0px #0096c7;
}
.container .main .pokemon_description .pokemon_specialAtk {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container .main .pokemon_description .pokemon_specialAtk .specialAtk_bar {
  transform: rotate(180deg);
  width: 12rem;
  height: 1rem;
  background: white;
  border-radius: 1rem;
  box-shadow: inset 4px 2px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
}
.container .main .pokemon_description .pokemon_specialAtk .specialAtk_bar .specialAtk {
  width: 90%;
  background-color: #fecf3e;
  height: 100%;
  border-radius: 1rem;
  box-shadow: inset 0px -1px 0px #fff056;
}
.container .main .pokemon_description .pokemon_specialDefense {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container .main .pokemon_description .pokemon_specialDefense .specialDefense_bar {
  transform: rotate(180deg);
  width: 12rem;
  height: 1rem;
  background: white;
  border-radius: 1rem;
  box-shadow: inset 4px 2px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
}
.container .main .pokemon_description .pokemon_specialDefense .specialDefense_bar .specialDefense {
  width: 90%;
  background-color: #007f5f;
  height: 100%;
  border-radius: 1rem;
  box-shadow: inset 0px -1px 0px #04b589;
}
.container .main .pokemon_description .pokemon_speed {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container .main .pokemon_description .pokemon_speed .speed_bar {
  transform: rotate(180deg);
  width: 12rem;
  height: 1rem;
  background: white;
  border-radius: 1rem;
  box-shadow: inset 4px 2px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
}
.container .main .pokemon_description .pokemon_speed .speed_bar .speed {
  width: 90%;
  background-color: #90e0ef;
  height: 100%;
  border-radius: 1rem;
  box-shadow: inset 0px -1px 0px #ade8f4;
}

.arrows {
  width: 100%;
  padding: 1rem;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  color: #f8f9fa;
  font-size: 2rem;
  cursor: pointer;
}
.arrows .arrow_prev {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3rem;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  backdrop-filter: blur(5px);
  display: grid;
  place-content: center;
  height: 4rem;
  width: 4rem;
}
.arrows .arrow_next {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3rem;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  backdrop-filter: blur(5px);
  display: grid;
  place-content: center;
  height: 4rem;
  width: 4rem;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .container .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .container .main .pokemon_id {
    font-size: 10rem;
  }
  .container .main .about {
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container .main .about .pokemon_image {
    width: 15rem;
  }
  .container .main .about .pokemon_description p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .container .nav {
    display: flex;
    justify-content: space-around;
  }
  .container .main .pokemon_id {
    font-size: 10rem;
  }
  .container .main .about {
    top: 20%;
  }
  .container .main .about .pokemon_informations .pokemon_name {
    font-size: 1.5rem;
    text-align: center;
  }
  .container .main .about .pokemon_informations .pokemon_skills h3 {
    font-size: 1rem;
  }
  .container .main .about .pokemon_informations .pokemon_skills {
    display: flex;
    justify-content: center;
  }
  .container .main .about .pokemon_image {
    width: 13rem;
  }
  .container .main .about .pokemon_description h1 {
    font-size: 1.5rem;
  }
  .container .main .about .pokemon_description P {
    font-size: 0.9rem;
  }
  .container .main .about .pokemon_description .bar {
    transform: rotate(180deg);
    width: 7rem;
    height: 0.8rem;
    background: white;
    border-radius: 1rem;
    box-shadow: inset 4px 2px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    margin: 0.3rem 0;
  }
}
@media screen and (max-width: 1024px) {
  .container .main .about .pokemon_image {
    width: 20rem;
  }
}

/*# sourceMappingURL=styles.css.map */
