@use 'base';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: base.$main;
    height: 100vh;
    display: flex;
    justify-content: center;
}

@mixin theme() {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3rem;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    backdrop-filter: blur(5px);
    display: grid;
    place-content: center;
}

@mixin textCenter() {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@mixin pokemon_bar() {
    transform: rotate(180deg);
    width: 12rem;
    height: 0.7rem;
    background: white;
    border-radius: 1rem;
    box-shadow: inset 4px 2px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

@mixin pokemon_hp() {
    width: 90%;
    background: #007f5f;
    height: 100%;
    border-radius: 1rem;
    box-shadow: inset 0px -1px 0px #04b589;
}

.container {
    width: 60%;

    .nav {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;

        h1 {
            color: base.$white;
        }

        .search_box {
            width: 0%;
            position: relative;
            transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            .fa-solid {
                font-size: 1.5rem;
                color: base.$white;
            }

            .input_pokemon {
                width: 100%;
                opacity: 0;
                outline: none;
                font-size: 1.3rem;
                background-color: transparent;
                color: base.$white;
                padding: 1rem 2rem;
                @include theme();
                transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }

            .input_pokemon::placeholder {
                color: base.$white;
            }

            .btn {
                background-color: transparent;
                cursor: pointer;
            }

            .search_btn {
                position: absolute;
                right: 0%;
                top: 0%;
                height: 3.5rem;
                width: 3.5rem;
                @include theme();
                transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            }
        }

        .search_box.active {
            width: 50%;

            .input_pokemon.active {
                opacity: 1;
            }

        }
    }

    .main {
        display: flex;
        justify-content: end;
        position: relative;

        .pokemon_id {
            font-size: 15rem;
            text-align: center;
            color: base.$gray;
            opacity: 0.5;
            font-weight: 700;
            pointer-events: none;
            user-select: none;
        }

        .about {
            position: absolute;
            top: 30%;
            right: -15%;
            display: flex;
            justify-content: space-around ;
            align-items: center;

            .pokemon_informations {
                width: 15rem;
                .pokemon_name {
                    font-size: 2.5rem;
                    text-transform: capitalize;
                    color: base.$white;
                    font-weight: 700;
                }

                .pokemon_skills {
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;
                    text-align: center;
                    font-weight: 700;
                    color: base.$white;

                    p {
                        margin-top: 1rem;
                        font-weight: 400;
                    }
                }

            }

            .pokemon_image {
                user-select: none;
                width: 20rem;
                height: auto;
            }

        }

        .pokemon_description {
            width: 24rem;
            text-align: center;
            color: base.$white;
        


            .pokemon_health {
                @include textCenter();
                

                .hp_bar {
                    @include pokemon_bar();

                    .hp {
                        @include pokemon_hp();
                    }

                }

            }

            .pokemon_attack {
                @include textCenter();
           

                .attack_bar {
                    @include pokemon_bar();

                    .attack {
                        @include pokemon_hp();
                    }
                }
            }

            .pokemon_defense {
                @include textCenter();
     

                .denfese_bar {
                    @include pokemon_bar();

                    .denfese {
                        @include pokemon_hp();
                    }
                }
            }

            .pokemon_specialAtk {
                @include textCenter();
       

                .specialAtk_bar {
                    @include pokemon_bar();

                    .specialAtk {
                        @include pokemon_hp();
                    }
                }
            }

            .pokemon_specialDefense {
                @include textCenter();
           

                .specialDefense_bar {
                    @include pokemon_bar();

                    .specialDefense {
                        @include pokemon_hp();
                    }
                }
            }

            .pokemon_speed {
                @include textCenter();

                .speed_bar {
                    @include pokemon_bar();

                    .speed {
                        @include pokemon_hp();
                    }
                }
            }
        }
    }

    
}
.arrows {
    width: 100%;
    padding: 1rem;
    position: absolute;
    top:50%;
    display: flex;
    justify-content: space-between;
    color: base.$white;
    font-size: 2rem;
    cursor: pointer;

    .arrow_prev {
        @include theme();
        height: 4rem;
        width: 4rem;
    }

    .arrow_next {
        @include theme();
        height: 4rem;
        width: 4rem;
    }
}   

@media (max-width: 320px) {
    .container{
        width: 100%;
        .nav{
            display: flex;
            justify-content: center;
            gap: 1rem;
            align-items: center;
          
        }
        .main{
            .pokemon_id{
                font-size: 10rem;
            }
            .about{
                width: 100%;
                top: -5%;
                right: 0;
                display: flex;
                flex-direction: column;
                

                .pokemon_informations{
                    text-align: center;

                    .pokemon_skills{
                            h3{
                                
                                font-size: 1.1rem;
                            }
                            p{
                                font-size: 1.1rem;
                            }
                    }
                }
                .pokemon_image{
                    width: 16rem;
                }
                .pokemon_description{
                    margin-top:1rem ;
                    width: 100%;
                    padding: 0.5rem;

                    P{
                        font-weight: 700;
                        font-size: 0.8rem;
                    }
                  
                }
                
            }
        }
    }
}
@media (max-width: 480px) {
    .container{
        width: 100%;
        .nav{   
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            gap: 1rem;
            align-items: center;

            .search_box.active {
                width: 90%;
            }
        }
        .main{
            .pokemon_id{
                font-size: 13rem;
            }
            .about{
                width: 100%;
                top: 0%;
                right: 0;
                display: flex;
                flex-direction: column;
                

                .pokemon_informations{
                    text-align: center;

                    .pokemon_skills{
                            h3{
                                
                                font-size: 1.1rem;
                            }
                            p{
                                font-size: 1.1rem;
                            }
                    }
                }
                .pokemon_image{
                    width:18rem;
                }
                .pokemon_description{
                    width: 100%;
                    padding: 0 1rem;

                    P{
                        font-weight: 700;
                        font-size: 1.1rem;
                    }
                  
                }
                
            }
        }
    }
}