@use 'base';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: base.$main;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    width: 50%;

    .nav {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;

        h1 {
            color: base.$white;

        }

        .search_box {
            width: 0%;
            position: relative;
            transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            .fa-solid {
                font-size: 1.5rem;
                color: base.$white;

            }


            .input_pokemon {
                width: 100%;
                opacity: 0;
                outline: none;
                font-size: 1.3rem;
                background-color: transparent;
                color: base.$white;
                padding: 1rem 2rem;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 3rem;
                box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
                backdrop-filter: blur(5px);
                transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }

            .input_pokemon::placeholder {
                color: base.$white;
            }

            .btn {
                background-color: transparent;
                cursor: pointer;
            }

            .search_btn {
                position: absolute;
                right: 0%;
                top: 0%;
                height: 3.5rem;
                width: 3.5rem;
                display: grid;
                place-content: center;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
                backdrop-filter: blur(5px);
                transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            }
        }

        .search_box.active {
            width: 50%;

            .input_pokemon.active {
                opacity: 1;
            }

        }
    }

    .main {
        display: flex;
        justify-content: end;
        position: relative;

        .pokemon_id {
            font-size: 15rem;
            color: base.$gray;
            opacity: 0.5;
            font-weight: 700;
            pointer-events: none;
            user-select: none;
        }

        .about {
            position: absolute;
            top: 10%;
            right: 0%;
            display: flex;
            align-items: center;

            .pokemon_informations {
                .pokemon_name {
                    font-size: 3rem;
                    text-transform: capitalize;
                    color: base.$white;
                    font-weight: 700;
                }
                .pokemon_skills{
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;
                    text-align: center;
                    font-weight:700;
                    color: base.$white;
                    p{
                        margin-top: 1rem;
                        font-weight: 400;
                    }
                }

            }

            .pokemon_image{
                width: 25rem;
                height: auto;
            }

        }
    }
}