@use 'base';
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: base.$main;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    width: 50%;
    .nav{
        padding: 1rem 0;
        .search_box{
            width: 0%;
            position: relative;
            transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            svg{
                width: 30px;
                color: base.$white;
            }

            .input_pokemon{
                width: 100%;
                opacity: 0;
                outline: none;
                font-size: 1.3rem;
                background-color: transparent;
                color: base.$white;
                padding: 1rem 2rem;
                background: rgba(255, 255, 255, 0.2);
                border-radius:3rem;
                box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
                backdrop-filter: blur(5px);
                transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            }   

            .btn{
                background-color: transparent;
                cursor: pointer;
            }   
            .search_btn{
                position: absolute;
                right: 0%;
                top: 0%;
                height: 3.5rem;
                width: 3.5rem;
                display: grid;
                place-content: center;
                background: rgba(255, 255, 255, 0.2);
                border-radius:50%;
                box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
                backdrop-filter: blur(5px);
            }
            .cancel_btn{
                opacity: 0;
                position: absolute;
                right: -10%;
                top: 20%;
            }
          
        }
        .search_box.active{
            width: 50%;

            .input_pokemon.active{
                opacity: 1;
            }
            
        }
    }
}